 body {
 	background-color: #FFEAE5;
 }

 P {
 	font-family: "Roboto" !important;
 	font-size: 18px;
 	color: #875645;
 }

 h1 {
 	font-family: Verdana;
 	color: #3D2923;
 	font-weight: 500 !important;
 }

 h2 {
 	font-family: Verdana;
 	color: #3D2923;
 	font-weight: 300 !important;
 	text-align: center;
 }

 .navbar{
 	background-color: #FFEAE5 !important;
 }

 .text-info{
 	color: #E4B373 !important;
 	font-weight: 900 !important;
 }

 .lead {
    font-size: 1.3rem;
    font-weight: 500;
 }

 .card-title{
 	font-family: Verdana;
 	color: #3D2923; 	
 }

 .card-subtitle{
 	font-family: Verdana;
 	color: #875645; 	
 }

 .card-text{
 	font-family: "Roboto" !important;
 	color: #875645; 	
 }

 .jumbotron {
    background-size: cover;
    background-position: center;
  }

