
/* Carousel */
.carousel-indicators {
	filter: invert(1);
}
/* Carousel */

/* Jumbotron */
.jumbotron {
  margin-bottom: -3%;
  background-color: transparent;
  text-align: center !important;
}
/* Jumbotron */

/* Nav Bar */
.navbar {
}
/* Nav Bar */

/* Modal */
.modal-content{
	background-color:#222831 !important;
}

.modal-header {
	color: #f2a365 !important;
	font-family: "verdana" !important;
}

.modal-body {
	color: #ececec !important;
	font-family: "Trebuchet MS" !important;
}

.close {
	color: #ececec !important;
	font-family: "verdana" !important;	
}
/* Modal */

body {
	background-color: #222831;
}

h5 {
	font-family: "verdana" !important;
	font-weight: 700;
	color: #f2a365 !important;
}

p {
	font-family: "Trebuchet MS" !important;
	color: #ececec; 
}

h1 {
	font-family: "verdana" !important;
	color: #f2a365;
}

h6 {
	font-family: "Trebuchet MS" !important;
	color: #ececec;
}
