/* Nav Bar */
.navbar {
	background-color: #EAEAEA !important;
}
/* Nav Bar */

/* Jumbotron */
.jumbotron {
  margin-top: 20px;
  background-color: transparent !important;
  text-align: center;
}
/* Jumbotron */

/* Card Start */
.list-group-item {
	background-color: #CCCC99 !important;
	font-family: "verdana" !important;
	color: #990033 !important;
	margin-left: 1vw;
}
.card-link {
	color: #990033 !important;
	text-align: center;
}
/* Card End */

h1 {
	font-family: "verdana" !important;
	color: #990033 !important;
}

h5 {
	font-family: "verdana" !important;
	font-weight: 700;
	color: #990033 !important;
	text-align: center;
}

h6 {
	font-family: "verdana" !important;
	font-weight: 700;
	color: #990033 !important;
	text-align: center;
}

p {
	font-family: "Trebuchet MS" !important;
	color: #666633;
}